/*----------------------- BASIC CSS SETTINGS BEFORE PROCEEDING---------------------- */
body{
    width:100vw;
}

* {
    margin: 0px ;
    padding: 0px;
    /* box-sizing: border-box; */
   
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth ;
}
body {
    --main-color: #283526;
    --primary-color: #888888;
    --button-background: #4b709e;
    --primary-button-background: #d15b33;
    --background-color: #cadbf5;
    /* width: 100vw; */
}
a,button{
    text-decoration:none;
    cursor:pointer;
    color: black;
    font-family: 'Oswald', sans-serif;
}
li{
    list-style:none;
}

button{
    padding: 1rem 3rem;
    border-radius:2rem;
    border:none;
    outline: none;
    line-height: 3.6rem;
    font-style: normal;
    font-weight: normal;
    text-transform:capitalize;
    cursor:pointer;
    font-size: 2rem;
}
p{
    font-family: 'Stint Ultra Condensed', cursive;
}
h1,h2,h3,h4{
    font-family: 'Roboto', sans-serif;
}
/*----------------------------------- our main menu --------------------------------*/
/* ------------------------------------------------------------------------------*/
header{
    padding: 0 2rem;
    /* border: 2px solid black; */
}
header nav{
     display:flex; 
    justify-content: space-between;
    align-items: center;
    width:100vw;
    height: 10rem;
}
header nav .left-side-menu{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    width:49%;
    position:relative;
    z-index: 99;
    /* background-color: #888888; */
}
header nav .left-side-menu a img{
    width:13rem;
    height: 5.5rem;
}
header nav .left-side-menu .logo{
    margin-right:7rem;
    
}
header nav .left-side-menu .sub-menu{
    height:inherit;
    display:flex;
}
header nav .left-side-menu .sub-menu a {
    margin-right: 10rem;
    white-space: nowrap;
    text-transform: uppercase;
}
header nav .left-side-menu .sub-menu a {
    font-size: 2rem;
    line-height: 3.6rem;
    text-transform: capitalize;
    transition: all 0.2s;
}
header nav .left-side-menu .sub-menu a:hover{
    color:var(--button-background) ;
}
/* #raw{
    cursor:pointer;
    border: 2px solid rgb(90, 26, 26);
}
#raw:hover{
     color:var(--button-background);
} */
/* --------right side menu css style--------- */
header .right-side-menu{
    width: 50%;
    display:flex;
    justify-content: end;
    /* position:relative;
    z-index: 99; */
}
header .right-side-menu .sub-menu{
    /* width: 100%; */width:100vw;
    height: inherit;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    
}
header .right-side-menu .sub-menu a{
    margin-right: 5rem;
    /* margin-left: 2rem; */
    padding: 0.7rem 2rem;
    background:rgba(225, 225, 225, 0.5);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 1rem;
    /* position: absolute;
    z-index: 9; */

}
header .right-side-menu .sub-menu a:last-child{
    background:none;
    border-radius:none;
}
header .right-side-menu .sub-menu button{
    padding: 0.7rem 2rem;
    background-color: var(--button-background);
    color:#000000;
    text-transform: uppercase;
    margin-right: 5rem;
     /* position: absolute; */
    /* z-index: 9; */ 

}
header .right-side-menu .sub-menu button:hover{
    color:rgb(15, 224, 155);
}
header .right-side-menu .sub-menu a :hover{
    color:var(--primary-button-background);
}
/* --------------------Main hero section------------------------------------- */
/* main hero left side */
.main-hero-section{
    padding: 0 10rem;
     width:100%;/*width:100vw; */
     width:100vw;/*height: 100%; */
    display:flex;
    justify-content:space-between;
    align-items: center;
    /* border: 2px solid black; */
}
/* .hero-left-side{
    margin:2rem;
} */

.main-hero-section h1{
    width:55rem;
    font-size: 7.5rem;
    line-height: 7rem;
    margin-bottom: 4rem ;
}
.main-hero-section p{
    margin-top: 4rem;
    margin-bottom: 8rem;
    font-size: 2.5rem;
    width:45rem;
}

.main-hero-section .hero-left-side a img{
    width:15;
    height: 4rem;
    padding:5rem
}
.main-hero-section .button-group a:first-child{
    margin-right: 2.5rem;
}
/* main hero right side */
.main-hero-section .hero-right-side img{
    width:41rem;
    height: 50rem;
    background-color: var(--background-color);
    /* position:absolute;
    right: 0;
    top: 0; */

}
/* <!-------------------------------- our 2nd Hero Section-------------------------------
-----------------------------------------------------------------------> */
.common-section{
    /* border:2px solid black; */
    width: 100%;
    height: 70rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 9rem;
    padding: 5rem 3rem;
   
}
/* left-side */
.common-section .left-side figure{
    width: 20rem;
    height: 55rem;
    background-color: #e2efff;
    border-radius: 20rem;
}
.common-section .left-side{
    width: inherit;
    height: inherit;
}
.common-section .left-side img{
     width: 40rem;
     height: 50rem;
     border-radius: 10rem;
     margin-bottom: 20rem;
     margin-left: 5rem;
     margin-top: 2.5rem;
}
/* right-side */
.common-section .right-side{
    width: inherit;
    height: inherit;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
}
.common-section .right-side h2{
   font-size: 5rem;
   width: 40rem;
   text-transform: capitalize;
   margin-bottom: 3rem;

}
.common-section .right-side p{
    /* width: 3.3rem; */
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: lowercase;
}
.common-section .right-side .common-button{
    padding: 1rem 3rem;
    background-color: #eb420a;
    margin-right: 20px;
    color:#e2efff;
}
.common-section .right-side button:last-child{
    color: var(--main-color);
    background-color: transparent;
}
.common-section .right-side .common-button:hover{
    background-color: var(--primary-button-background);
}
.common-section .right-side .common-button-normal:hover{
    background-color:#eb420a;
}
/* <!-------------------------------- our 3rd Hero Section-------------------------------
-----------------------------------------------------------------------> */
.Third-section{
    /* border: 2px solid black; */
    width: 100%;
    height: 70rem;
    background-color:var(--background-color);
    padding: 3rem 10rem;
    margin:0;
}
.Third-section h2{
    font-size: 5rem;
    text-align: center;
}
.Third-section p{
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
 
}
.Third-section .section-third-task{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
    margin-top: 3rem;

}
.Third-section .section-third-task .task1,
.Third-section .section-third-task .task2,
.Third-section .section-third-task .task3{
    padding-top: 2rem;
    /* background:#888888; */
    text-align: center;
    transition: all 0.3s linear;
    border-radius: 2rem;
    margin-top: 5rem;
}
.Third-section .section-third-task .task1 h3,
.Third-section .section-third-task .task2 h3,
.Third-section .section-third-task .task3 h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-top: 2.5rem;
}

.Third-section .section-third-task .task1 img,
.Third-section .section-third-task .task2 img,
.Third-section .section-third-task .task3 img{
    width: 15rem;
    height: 15rem;
    transition:all 0.3s;
}
.Third-section .section-third-task .task3:hover{
    background:whitesmoke;
    box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
}
.Third-section .section-third-task .task1:hover,
.Third-section .section-third-task .task2:hover{
    background:whitesmoke;
    box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
}
.Third-section .section-third-task .task1 img:hover,
.Third-section .section-third-task .task2 img:hover,
.Third-section .section-third-task .task3 img:hover{
    transform:rotate(360deg);
}

/* <!-------------------------------- our 4th Hero Section-------------------------------
-----------------------------------------------------------------------> */
#section-four {
    width:100%;
    grid-column-gap:10rem ;
    margin-left:4rem;
}
#section-four .left-side figure{
    /* width:inherit;
    height: inherit; */
    margin-left: 13rem;
}
/* <!-------------------------------- our 6th footer-------------------------------
-----------------------------------------------------------------------> */
.footer{
    /* border: 2px solid black; */
    width: 100%;
    background-color:var(--background-color);
     height: auto;
     padding: 2rem 10rem;
     display:grid;
     grid-template-columns: 1fr 1fr ;
}
.footer img{
    width: 13rem;
    height: 5.5rem;
}
.footer .footer-menu{
    margin-top: 5rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer h4{
    font-size: 20px;
    text-transform: capitalize;
}
.footer a{
    font-size: 17px;
    line-height:150%;
}
.footer .footer-div-5 a{
    font-size: 17px;
}
.footer .logo-div p{
    font-size: 1.5rem;
}
#raw{
    font-family: 'Roboto', sans-serif;
}

/* <!-------------------------------- our social handle-------------------------------
-----------------------------------------------------------------------> */
.icon-bar{
    position:fixed;
    top:50%;
    transform:translateY(-50%);
    z-index:10;
}
.icon-bar a{
    width:18rem;
    background:#3b5999;
    color:#e2efff;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    font-size: 1.7rem;
    padding: 0.5rem;
    transition: all 0.5s linear;
    transform:translateX(-15rem);
}


.icon-bar a:hover{
    transform:translateX(0);
}
.icon-bar a .fa{
    padding-left: 1rem;
    font-size: 3rem;
    animation:letszoom 3s linear alternate-reverse infinite;
}
@keyframes letszoom{
    from{
        transform:scale(0.7);
    }
    to{
        transform:scale(0.9)
    }
}
.icon-bar .twitter{
    background-color:#00aced;
}
.icon-bar .instagram{
    background-color:#fbad50;
}
.icon-bar .youtube{
    background-color:#cd201f;
}
.icon-bar .linkedin{
    background-color:#0077b5;
}
.icon-bar .telegram{
    background-color:#0088cc;
}

/*------------------------------------------------- responsive layout starts
-------------------------------------------------------------------------------------
-------------------------------------------------------------- */
 /* for laptops */
/* @media screen(max-width:1280) {
    header,.main-hero-section,.common-section{
        padding: 0 10rem;
    }
    html{
    font-size:50%;
    }
    footer{ width: 100%;
        padding: 3rem 5rem;
        display: grid;
        grid-template-columns: none;
       } */
 
/* } */
/* for tablets */
@media(max-width:980px){
    header,.main-hero-section,.common-section{
        padding: 0 5rem;
    }
    .main-hero-section .hero-right-side{
        width:100%;
        position:relative;
        display:flex;
        justify-content:center;
        align-items: center;
    }
    .main-hero-section .hero-right-side img{
        width: 50rem;
        height: 50rem;
        margin-left: -5rem;
        margin-right: 5rem;
        margin-top: 5rem;
 
    }
    .common-section{
        width:100%;
        height:auto;
        display:grid;
        grid-template-columns: 1fr ;
    }
    .common-section .left-side figure img{
        height:40rem;
        margin-left: 0rem;
        width:35rem;
        margin-top:20rem;
    }
    .common-section .right-side{
        /* margin-top: 6rem; */
        justify-content:start;
        height: auto;
    }
    .common-section .right-side h2,p{
        margin-left: 4rem;
        
    }
    .common-section .right-side h2{
        font-size: 4rem;
        margin-top:12rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    /* section3 */
    #section-Third{
        height:auto;
         width:100%; 
        margin-left:2px; 
    }
    #section-Third .section-third-task{
        display:grid;
        grid-template-columns: 1fr ;
        grid-column-gap:4rem ;
        padding:0;
    }
    #section-Third h2{
        width:auto;
        padding:0rem 1rem;
        font-size: 4rem;
    }
   #section-four .right-side{
       order:2;

   }
   #section-four .left-side img{
       height:40rem;
       width:35rem;
       margin-top:5rem;
       /* margin-left:0rem; */}
       /* #section-four .right-side p{
           margin-top: 110rem;
       } */
       #section-four .right-side h2{
        margin-left: -2rem;
        margin-right: 5rem;
       margin-top: -3rem;
       width:auto;
       }
       #section-four .right-side p{
        margin-left: -1rem;
       }
/* --------footer------------ */


 section .footer{ width: 100%;
    height:auto;
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: none;}
 /* section .footer{
    height:auto;
     width:100%; 
    margin-left:2px;   */
 /* footer .logo-div:first-child{
  margin-top: 2rem;
  display: block;
 } */
 .footer .footer-menu{
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 #raw{
     margin-left: -1.5rem;
 }
 .icon-bar{
  top:35%;
 }
 .common-section .left-side figure{
    background:none;

   
}
/* for mobile phones */
@media (max-width:770px) {
    header,.main-hero-section,.common-section{
        padding: 0 5rem;
    }
header nav{
    padding-top: 1rem;
    display:flex;
    flex-flow: column;
    align-items: flex-start;
}
   header nav .left-side-menu{
       width: 100%;
       display:block;
       order:2;
   }
   header nav .left-side-menu img{
       display: block;
       width:100%;
       /* margin-right: 2rem; */
       /* padding-top: 5rem; */
   }
   header nav .left-side-menu .sub-menu{
       width: 100%;
       display:block;
       white-space: nowrap;
   }
   /* header nav .left-side-menu .sub-menu a{
       margin-left: 2rem;
   } */
/* main hero sec */
 header nav .right-side-menu {
     width: 100%;
     order:1;
     white-space: nowrap;
 }
 header nav .right-side-menu a{
     width: 10rem;
     height: 4rem;
     border:0.1rem solid var(--main-color);
     border-radius:2rem;
     display:flex;
     justify-content:center;
     align-items: center;
     text-transform: uppercase;
 }
 header nav .right-side-menu a button{
    width: 10rem;
    height: 3.5rem;
    border:0.1rem solid var(--main-color);
    border-radius:2rem;
    text-transform: uppercase;
}
   .main-hero-section{
       width:100%;
       height:80vh;
       display:flex;
       flex-flow: column;
   }
   .main-hero-section .hero-left-side{
       order:2;
       width:100%;
   }
   .main-hero-section .hero-left-side h1{
       /* width:35rem; */
       margin-left: 4rem;
       font-size: 4rem;
       margin-bottom: -4rem;
       width:auto;
      /* margin-left: 20rem ; */
       /* line-height:6rem; */
       /* margin-bottom: 2rem; */
   }
   .main-hero-section .hero-left-side p{
    width:35rem;
    font-size: 2rem;
    margin-left: 4rem;
   /* margin-left: 20rem ; */
    /* line-height:6rem; */
    /* margin-bottom: 2rem; */
}
   .main-hero-section .hero-right-side{
       margin-top: 6rem;
       order:1;
       /* width:100; */
       display:flex;
       justify-content:center;
       align-items: center;
       position:relative;
       background:transparent
   }
   .main-hero-section .hero-right-side img{
       width: 35rem;
       height: 35rem;
       margin:0;
       margin-top: 2rem;
       margin-left: 9rem;
       /* display:block; */
     
   }
   
.common-section .left-side img{
    margin-top:-20rem;
    height:35rem;
    width: 35rem;

}
.common-section .left-side figure{
    background:none;
}
}}
section .footer{ width: 100%;
    height:auto;
    padding: 3rem 5rem;
    display: grid;
    grid-template-columns: none;
   }


        
